*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #999;
  --main-white-color: #fff;
  --main-black-color: #000;
  --decorative-color: #008e71;
}

body {
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

body,
input,
textarea,
p {
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-text-color);
  line-height: 1.7;
  font-weight: 300;
}

a {
  text-decoration: none;
}
