/* ----- BASE ----- */

/* 

z-index:
top - 1000: hamburger
second - 750: nav
third - 500: overlay

*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #999;
  --main-white-color: #fff;
  --main-black-color: #000;
  --decorative-color: #008e71;
  --background-color: rgba(247, 241, 227, 0.6);
  --main-transition: all 0.6s ease-in-out;
}

body {
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

body,
input,
textarea,
p {
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-text-color);
  line-height: 1.7;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* ----- END BASE ----- */
/* ----- MENU ----- */
.hamburger {
  position: fixed;
  top: 4rem;
  left: 72px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger i {
  font-size: 1.5rem;
}

.hamburger .fa-times {
  display: none;
}

header::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-100%, -100%);
  opacity: 0;
  z-index: 500;
  transition: opacity 0.6s, transform 0.2s 0.6s;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40vw;
  background-color: var(--main-white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px;
  padding-top: calc(36px * 4);
  z-index: 750;
  transform: translateX(-200%);
  transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.nav-list {
  list-style: none;
}

.secondary-nav-list {
  padding-inline-start: 10px;
  list-style: none;
  border-left: 1px solid var(--main-black-color);
  margin: 1rem 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: var(--main-text-color);
  font-size: 18px;
  transition: var(--main-transition);
}

.nav-link:hover,
.secondary-nav-link:hover {
  color: var(--main-black-color);
}

.secondary-nav-link {
  color: var(--main-text-color);
  font-size: 15px;
}

.active {
  color: var(--decorative-color);
}

.social-icons {
  margin-top: 10px;
  display: flex;
}

.icon-link {
  color: var(--main-text-color);
}

.fab {
  border: 1px solid var(--main-text-color);
  border-radius: 50%;
  font-size: 16px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 11px;
  background-color: var(--main-white-color);
  cursor: pointer;
  transition: var(--main-transition);
}

.fab:hover {
  color: var(--main-white-color);
  background-color: var(--main-text-color);
}

.fa-instagram {
  margin-left: 5px;
}

/* ----- MENU END ----- */
/* ----- HOME PAGE - MAIN ----- */
main {
  position: relative;
}

.content {
  transform: translateX(0);
  transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
  padding: 36px;
  border: 36px solid white;
  background-color: var(--background-color);
}

.click .fa-times {
  display: block;
}

.click .fa-bars {
  display: none;
}

header.click::before {
  transform: translate(0, 0);
  opacity: 1;
  transition: opacity 0.6s;
}

.click .sidebar {
  transform: translateX(0);
}

.click .content {
  transform: translateX(40vw);
}
/* ----- HOME PAGE - MAIN END ----- */
/* ----- HOME PAGE - GRID ----- */

/* Page Loader */
.js .loading::before {
  content: "";
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--decorative-color);
}

.js .loading::after {
  content: "";
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0.4;
  background-color: var(--main-black-color);
}

@keyframes loaderAnimation {
  to {
    opacity: 1;
    transform: scale(0.5, 0.5, 1);
  }
}

a {
  text-decoration: none;
  outline: none;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.message {
  position: relative;
  z-index: 100;
  padding: 1rem;
  font-size: 0.75rem;
  text-align: center;
}

/* Page Loader END */
/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}

.grid-thumbs {
  display: none;
}

.grid-outer {
  padding: 1.5rem;
}

.main-header {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-links {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 1em 0 0;
  text-align: center;
  white-space: nowrap;
}

.main-icon {
  display: inline-block;
  text-transform: lowercase;
  text-align: left;
}

.theDreamDesigners {
  display: inline-block;
  text-transform: lowercase;
  text-align: left;
}

.title-wrap {
  padding: 2em 0;
}

.side {
  font-size: 0.85rem;
}

.side_content {
  display: block;
  padding: 0 1rem 0 0;
}

.grid_item-title {
  font-weight: normal;
}

.title {
  margin: 0;
  font-size: 2rem;
  line-height: 1.2;
}

.subtitle {
  font-size: 1.25rem;
  margin: 0;
}

.year {
  font-size: 1.25rem;
  display: block;
}

.year::before {
  content: "___";
  margin-right: 0.5rem;
}

.fullview_item {
  background-size: cover;
  background-position: 50% 50%;
  padding: 80vh 1.5rem 1.5rem;
  margin: 0 0 2rem 0;
}

.fullview_item-titlewrap {
  padding: 1.5rem;
  background: #d0d0d0;
}

.fullview_title {
  display: none;
  font-weight: normal;
  font-size: 1rem;
}

.fullview_item-number {
  font-size: 1.5rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  background: #d0d0d0;
  display: block;
}

.fullview_item-number::before {
  content: "___";
  margin-right: 0.5rem;
}
/* Icons END */
/* ----- HOME PAGE - GRID END ----- */
