/* ----- BASE ----- */

/* 

z-index:
top - 1000: hamburger
second - 750: nav
third - 500: overlay

*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #999;
  --main-white-color: #fff;
  --main-black-color: #000;
  --decorative-color: #008e71;
  --background-color: rgba(247, 241, 227, 0.6);
  --main-transition: all 0.6s ease-in-out;
}

body {
  width: 100vw;
  min-height: 100%;
  overflow-x: hidden;
}

body,
input,
textarea,
p {
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
  color: var(--main-text-color);
  line-height: 1.7;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* ----- END BASE ----- */
/* ----- MENU ----- */
.hamburger {
  position: fixed;
  top: 4rem;
  left: 72px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger i {
  font-size: 1.5rem;
}

.hamburger .fa-times {
  display: none;
}

header::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translate(-100%, -100%);
  opacity: 0;
  z-index: 500;
  transition: opacity 0.6s, transform 0.2s 0.6s;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40vw;
  background-color: var(--main-white-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px;
  padding-top: calc(36px * 4);
  z-index: 750;
  transform: translateX(-200%);
  transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.nav-list {
  list-style: none;
}

.secondary-nav-list {
  padding-inline-start: 10px;
  list-style: none;
  border-left: 1px solid var(--main-black-color);
  margin: 1rem 0;
}

.nav-item {
  position: relative;
}

.nav-link {
  color: var(--main-text-color);
  font-size: 18px;
  transition: var(--main-transition);
}

.nav-link:hover,
.secondary-nav-link:hover {
  color: var(--main-black-color);
}

.secondary-nav-link {
  color: var(--main-text-color);
  font-size: 15px;
}

.active {
  color: var(--decorative-color);
}

.social-icons {
  margin-top: 10px;
  display: flex;
}

.icon-link {
  color: var(--main-text-color);
}

.fab {
  border: 1px solid var(--main-text-color);
  border-radius: 50%;
  font-size: 16px;
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 11px;
  background-color: var(--main-white-color);
  cursor: pointer;
  transition: var(--main-transition);
}

.fab:hover {
  color: var(--main-white-color);
  background-color: var(--main-text-color);
}

.fa-instagram {
  margin-left: 5px;
}

/* ----- MENU END ----- */
/* ----- HOME PAGE - MAIN ----- */
main {
  position: relative;
}

.content {
  transform: translateX(0);
  transition: transform 0.6s cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

.click .fa-times {
  display: block;
}

.click .fa-bars {
  display: none;
}

header.click::before {
  transform: translate(0, 0);
  opacity: 1;
  transition: opacity 0.6s;
}

.click .sidebar {
  transform: translateX(0);
}

.click .content {
  transform: translateX(40vw);
}
/* ----- HOME PAGE - MAIN END ----- */
/* ----- HOME PAGE - CONTENT ----- */
/* Base layout */

.content {
  background-color: var(--background-color);
  height: 100vh;
  width: 100%;
  border-top: 36px solid var(--main-white-color);
  border-left: 36px solid var(--main-white-color);
  border-right: 36px solid var(--main-white-color);
}

#cases {
  height: 100%;
  width: 100%;
}



/* Base layout end */
/* ----- HOME PAGE - CONTENT END ----- */
